<div>
    First: <input required value=@FirstName @oninput="OnParametersSetAsync"/>
    Middle: <input value=@MiddleName @oninput="OnParametersSetAsync"/>
    Last: <input required value=@LastName @oninput="OnParametersSetAsync"/>
</div>

@code
{
    [Parameter]
    public EventCallback<bool> NameChanged { get; set; }

    [Parameter]
    public string FirstName { get; set; }

    [Parameter]
    public string MiddleName { get; set; }

    [Parameter]
    public string LastName { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        bool nameIsValid = !string.IsNullOrWhiteSpace(FirstName) &&
                           !string.IsNullOrWhiteSpace(LastName);
        await NameChanged.InvokeAsync(nameIsValid);
    }
}