<div>
    First: <input required value=@Name.FirstName @oninput="async (args) => 
        { 
            Name.FirstName = args.Value.ToString();
            await NameChanged.InvokeAsync(Name);
            await NameIsValidChanged.InvokeAsync(Name.IsValid());
        }"/>
    Last: <input required value=@Name.LastName  @oninput="async (args) => 
        { 
            Name.LastName = args.Value.ToString();
            await NameChanged.InvokeAsync(Name);
            await NameIsValidChanged.InvokeAsync(Name.IsValid());
        }"/>
</div>

@code
{
    [Parameter]
    public EventCallback<MutableName> NameChanged { get; set; }

    [Parameter]
    public EventCallback<bool> NameIsValidChanged { get; set; }

    [Parameter]
    public MutableName Name { get; set; }

    [Parameter]
    public bool NameIsValid { get; set; }
}